<ion-view title="Child">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h1>CHILDNAME</h1>
        <h3>BIRTHDAY</h3>
        <div class="spacer" style="width: 300px; height: 43px;"></div>
        <div>
            <p>No Videos uploaded yet!</p>
        </div>
        <ion-list>
            <ion-item>1.1.2000</ion-item>
            <ion-item>2.1.2000</ion-item>
            <ion-item>3.1.2000</ion-item>
        </ion-list>
    </ion-content>
</ion-view>