<ion-view title="{{ 'HOME' | translate }}">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <button class="button button-block button-positive" ng-click="goToUpload()">
        {{'UPLOAD_VIDEO' | translate}}
      </button>
      <div class="card" ng-repeat="v in videos">
        <div class="item item-text-wrap">
          <p>Information: {{v.information ? v.information : 'not specified'}}</p>
          <p>Created at: {{v.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</p>
        </div>
      </div>
    </ion-content>
</ion-view>
