<ion-view title="{{ 'LOGIN' | translate }}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="box item item-text-wrap alert-danger" ng-show="error">
      {{error}}
    </div>
    <form name="loginForm">
      <div class="list">
        <label class="item item-input" for="email">
          <input id="email" type="email" name="email"
                 ng-model="user.email" required
                 placeholder="{{ 'USERNAME' | translate }}">

        </label>
        <div class="card " ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
          <span class="item item-text-wrap alert-danger" ng-show="loginForm.email.$error.required">{{'USERNAME_REQUIRED' | translate}}</span>
          <span class="item item-text-wrap alert-danger"
                ng-show="loginForm.email.$error.email">{{'USERNAME_FAILURE' | translate}}</span>
        </div>
        <label class="item item-input">
          <input type="password" ng-model="user.password" name="password" required
                 placeholder="{{ 'PASSWORD' | translate }}">
        </label>

        <div class="box" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
          <span class="item item-text-wrap alert-danger" ng-show="loginForm.password.$error.required">{{'PASSWORD_REQUIRED' | translate}}</span>
        </div>
        <button class="button button-block button-positive" ng-click="login()"
                ng-disabled="loginForm.$invalid">
          {{ 'LOGIN' | translate }}
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
