<ion-view title="{{ 'PROFILE' | translate }}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="box item item-text-wrap alert-danger" ng-show="error">
      {{error}}
    </div>

    <div class="list card">

      <div class="item item-icon-left">
        <i class="icon ion-android-person"></i>
        {{user.username}}
      </div>

      <div class="item item-icon-left">
        <i class="icon ion-email"></i>
        {{user.email}}
      </div>
    </div>

    <br>

    <div class="list card">
      <a href="#/tabs/settings" class="item item-icon-left">
        <i class="icon ion-gear-b"></i>
        {{'SETTINGS' | translate}}
      </a>
      <a href="#/login" class="item item-icon-left" ng-click="logout()">
        <i class="icon ion-log-out"></i>
        {{'LOGOUT' | translate}}
      </a>
    </div>
  </ion-content>
</ion-view>
