<ion-view title="{{ 'SETTINGS' | translate }}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="box item item-text-wrap alert-danger" ng-show="error">
      {{error}}
    </div>
    <div class="box item item-text-wrap alert-success" ng-show="success">
      {{success}}
    </div>
    <br>

    <form name="settingsForm">
      <ion-list>
        <ion-radio ng-model="language" ng-value="'en'" ng-change="change('en')">{{'ENGLISH' | translate}}</ion-radio>
        <ion-radio ng-model="language" ng-value="'de'" ng-change="change('de')">{{'GERMAN' | translate}}</ion-radio>
      </ion-list>

      <button class="button button-block button-positive" ng-click="save()"
              ng-disabled="settingsForm.$invalid">
        {{'SAVE' | translate}}
      </button>
    </form>

  </ion-content>
</ion-view>
