<ion-view title="{{ 'UPLOAD_VIDEO' | translate }}">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="box item item-text-wrap alert-danger" ng-show="error">
      {{error}}
    </div>
    <div class="box item item-text-wrap alert-success" ng-show="success">
      {{success}}
    </div>
    <br>

    <form name="videoForm" novalidate>
      <div class="list">
        <button class="button button-full button-positive" ng-click="captureVideo()">
          <span class="icon icon-camera"></span>{{'CREATE_VIDEO' | translate}}
        </button>
        <button class="button button-full button-energized"
                ng-click="selectVideo()">
          <span class="icon icon-picture"></span>{{'SELECT_VIDEO' | translate}}
        </button>

        <label class="item item-input" ng-show="videoURL">
          <span class="input-label">Information</span>
          <input id="name" type="text" name="information"
                 ng-model="videoData.information" placeholder="Add information">
        </label>

        <button ng-show="videoURL" class="button button-block button-balanced"
                ng-click="upload()"
                ng-disabled="videoForm.$invalid">
          Upload
        </button>

        <div id="videoArea" ng-show="videoURL"></div>

      </div>
    </form>

  </ion-content>
</ion-view>
