<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self'
  'unsafe-inline' 'unsafe-eval' http://localhost:3001 http://localhost:* http://localhost">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <script src="lib/angular-cookies/angular-cookies.js"></script>
  <script src="lib/angular-jwt/dist/angular-jwt.js"></script>
  <script src="lib/angular-resource/angular-resource.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.js"></script>
  <script src="lib/ui-router/release/angular-ui-router.js"></script>
  <script src="lib/angular-translate/angular-translate.min.js"></script>
  <script src="lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/services.js"></script>
  <script src="js/directives.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>

</head>
<body ng-app="app" animation="slide-left-right-ios7">
<div>
  <div>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">{{'BACK' | translate}}</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
  </div>
</div>
</body>
</html>
